In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('data.csv', usecols=['date', 'value'])

In [8]:
df['date'] = pd.to_datetime(df['date'])
full_date_range = pd.date_range(start=df['date'].min(), end=df['date'].max(), freq='D')
df = df.set_index('date').reindex(full_date_range).rename_axis('date').reset_index()
df['value'] = df['value'].ffill()

In [15]:
df.tail(10)

           date value
1815 2025-02-12  0.26
1816 2025-02-13  0.21
1817 2025-02-14  0.21
1818 2025-02-15  0.21
1819 2025-02-16  0.21
1820 2025-02-17     .
1821 2025-02-18  0.26
1822 2025-02-19  0.25
1823 2025-02-20  0.22
1824 2025-02-21  0.23